/* GENERAL */
* {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
html {
  overflow-x: hidden; /* keep wide images from scrolling page hirizontally? */
}
body {
  font-family: "museo-sans", sans-serif;
  background-color: #fdfdfd;
  color: #666;
  padding: 0;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden; /* keep wide images from scrolling page hirizontally? */
  line-height: 1.5;
  font-size: 100%;
  font-size: 1.2em;
  font-weight: 300;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth:            antialiased;
}
#main { /* contain column */
  width: 95%;
  width: calc(100% - 20px);
  min-width: 300px; /* 320 (iphone portrait width) - 10 per side */
  max-width: 600px;
  margin: 0 auto;
}
.content {}
.entries {}
.work {}
.blog {}
/* HEADERS */
header {}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
  margin: 0.8em 0px;
}
h1, .h1 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.35em;
}
h2, .h2 {
  font-size: 1.6em;
  font-weight: 500;
}
h3, .h3 {
  font-size: 1.2em;
  font-weight: 500;
}
h4, .h4 {
  font-size: 1.1em;
}
h5, .h5 {
  font-style: 0.9em;
}
/* LINKS */
a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: #bbb;
  text-decoration: underline;
}
/* LISTS */
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
/* LOGO */
header.logo {
  padding: 15px 0px 20px;
  border-top: 20px solid #ddd;
}
header.logo:before, header.logo:after { /* full width */
  border-top: 20px solid #ddd;
  top: -20px;
}
header.logo h1 {
  line-height: .9em;
  margin: 0px;
  font-weight: 700;
}
header.logo a:hover {
  text-decoration: none;
}
/* NAV */
nav {}
nav ul {
  text-align: center;
  list-style: none;
}
nav li {
  display: inline-block;
  float: left;
  width: 33.33%;
}
nav a.h4 {
  display: block;
  margin: 0px;
}
/* MISC */
address {
  font-style: normal;
}
time {
  display: block;
}
img {
  margin: 0px auto;
  width: 100%;
  height: auto;
}
/* FOOTER */
footer {
  border-top: 20px solid #ddd;
}
footer:before, footer:after { /* full width */
  border-top: 20px solid #ddd;
  top: -20px;
}
.copyright {
  font-size: .5em;
  text-align: center;
}
/* MIXINS */
  /* CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
  /* FULL WIDTH */
.full-width {
  position: relative;
}
.full-width:before, .full-width:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 9999px;
}
.full-width:before {
  right: 100%;
}
.full-width:after {
  left: 100%;
}
