/* FONT FACE */
@font-face {
  font-family: "entypo";
  src: url('font/entypo.eot?') format('eot'),
       url('font/entypo.woff') format('woff'),
       url('font/entypo.ttf')  format('truetype'),
       url('font/entypo.svg')  format('svg');
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "entypo-social";
  src: url('font/entypo-social.eot?') format('eot'),
       url('font/entypo-social.woff') format('woff'),
       url('font/entypo-social.ttf')  format('truetype'),
       url('font/entypo-social.svg')  format('svg');
  font-weight: normal;
  font-size: normal;
}
/* GENERAL */
* {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
html {
  overflow-x: hidden; /* keep wide images from scrolling page horizontally? */
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004); /* font smoothing hack */
}
body {
  font-family: "museo-sans", sans-serif;
  background-color: #fdfdfd;
  color: #666;
  padding: 0;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden; /* keep wide images from scrolling page horizontally? */
  line-height: 1.5;
  font-size: 100%;
  font-size: 1.2em;
  font-weight: 300;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth:            antialiased;
  font-smoothing:         antialiased;
}
#main { /* contain column */
  width: 95%;
  width: calc(100% - 20px);
  min-width: 300px; /* 320 (iphone portrait width) - 10 per side */
  max-width: 600px;
  margin: 0 auto;
}
.work {}
.blog {}
.content {}
.entries {}
.entries li {
  list-style: none;
  margin-bottom: 30px;
}
article {
  margin-bottom: 25px;
}
.title, time {
  margin: 0px;
}
/* HEADERS */
header, .header {
  text-align: center;
}
article header {
  margin-top: 30px;
  margin-bottom: 20px;
}
.title {
  display: inline-block;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.8em 0px;
}
h1, .h1 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.35em;
}
h2, .h2 {
  font-size: 1.6em;
  font-weight: 500;
}
h3, .h3 {
  font-size: 1.2em;
  font-weight: 500;
}
h4, .h4 {
  font-size: 1.1em;
}
h5, .h5 {
  font-style: 0.9em;
}
/* LINKS */
a, .title {
  /* color: #ccc; */
  color: #98a;
  text-decoration: none;
}
a:hover, a:hover .title, a:hover .icon {
  /* color: #bbb; */
  color: #99b;
}
p a:hover {
  text-decoration: underline;
}
/* LISTS */
ul, ol {
  padding: 0px;
}
/* LOGO */
header.logo {
  padding: 15px 0px 20px;
  border-top: 10px solid #ddd;
}
header.logo:before, header.logo:after { /* full width */
  border-top: 10px solid #ddd;
  top: -10px;
}
header.logo h1 {
  line-height: .9em;
  margin: 0px;
  font-weight: 700;
}
/* NAV */
nav {}
nav ul {
  text-align: center;
  list-style: none;
  margin: 0px;
}
nav li {
  display: inline-block;
  list-style: none;
  float: left;
  width: 33.33%;
}
nav a.h4 { /*top nav */
  display: block;
  margin: 0px;
}
/* MISC */
address {
  font-style: normal;
}
time {
  display: inline-block;
}
img {
  margin: 0px auto;
  width: 100%;
  height: auto;
}
.entries img {
  display: block;
  margin-bottom: 20px;
}
/* ICONS */
.icon {
  display: inline-block;
  color: #ccc;
  font-family: "entypo", "entypo-social";
  line-height: 0em;
  font-style: normal;
  position: relative;
  top: -0.16em;
}
.entries-work .icon, .work header .icon {
  font-size: 3.5em;
}
.entries-blog .icon, .blog header .icon {
  font-size: 2em;
}
footer .icon {
  font-size: 2em;
}
/* FOOTER */
footer {
  border-top: 10px solid #ddd;
  padding-bottom: 10px;
}
footer:before, footer:after { /* full width */
  border-top: 10px solid #ddd;
  top: -10px;
}
footer ul {
  list-style: none;
}
footer li a:hover {
  text-decoration: none;
}
/* MIXINS */
  /* CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
  /* FULL WIDTH */
.full-width {
  position: relative;
}
.full-width:before, .full-width:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 9999px;
}
.full-width:before {
  right: 100%;
}
.full-width:after {
  left: 100%;
}
/* MEDIA QUERIES */
@media only screen
and (min-width : 550px) {
  footer section {
    width: 50%;
    float: left;
  }
}
