// --------------------------------------------------------------- //
// MODULES - ALL
// --------------------------------------------------------------- //

// LOGO - (main header)
.logo {
  h1 {
    @include font-size(31);
    margin-top: $vr-unit +rem;
    margin-bottom: $vr-unit +rem;
    font-weight: 700;
  }
}

// TOP NAV
.top-nav {
  margin-bottom: 1.75rem;
	ul {
    @extend %clearfix;
    margin-bottom: 0;
	  text-align: center;
	  list-style: none;
    width: 100%;
	}
	li {
	  display: inline-block;
	  list-style: none;
	  float: left;
	  width: 33.33%;
	}
	a {
	  display: block;
	  margin: 0px;
	}
}
.work #work, .blog #blog, .about #about { // highlight current nav section
  color: $link;
  &:after { // highlighted block
    display: block;
    position: relative;
    top: $line-width +px;
    content: "";
    width: 100%;
    height: $line-width +px;
    background-color: $link;
  }
}

// ICONS
%icon { // add to element or 'a'
  display: inline;
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  vertical-align: -12%;
  color: inherit;
  &[href] {
    color: inherit;
  }
  &[href]:hover {
    color: $link-hover;
  }
}

.icon-cal:before { @extend %icon; content: "📅"; } // &#128197; // 🕔
.icon-cal.spaced:before { content: "📅\a0 "; word-spacing: -0.15em; } // &nbsp;

.icon-github:before { @extend %icon; content: ""; } // &#62208;
.icon-github.spaced:before { content: "\a0 "; word-spacing: -0.15em; } // &nbsp;

.icon-behance:before { @extend %icon; content: ""; } // &#62208;
.icon-behance.spaced:before { content: "\a0 "; word-spacing: -0.15em; } // &nbsp;

.icon-email:before { @extend %icon; content: "🔿"; } // &#128319;
.icon-email.spaced:before { content: "🔿\a0 "; word-spacing: -0.15em; } // &nbsp;

.icon-linkedin:before { @extend %icon; content: ""; } // &#62233;
.icon-linkedin.spaced:before { content: "\a0 "; word-spacing: -0.15em; } // &nbsp;

.icon-twitter:before { @extend %icon; content: ""; } // &#62217;
.icon-twitter.spaced:before { content: "\a0 "; word-spacing: -0.15em; } // &nbsp;

.icon-link:before { @extend %icon; content: "🔗"; } // &#128279;
.icon-link.spaced:before { content: "🔗\a0 "; word-spacing: -0.15em; } // &nbsp;

// TOOLTIP
a[data-tooltip] {
  position: relative;
  &:hover { // using :before will interfere with icons
    &:after {
      @include font-size(14);
      border-radius: $radius +px;
      content: attr(data-tooltip);
      position: absolute;
      display: block;
      text-align: center;
      font-family: $header-font-family;
      font-weight: 700;
      background-color: $background-color-dark;
      color: $text-color-lighter;
      padding: 0 10px;
      width: 80px;
      left: -30px; // width - padding
      bottom: 90%;
    }
  }
}


// ARTICLE
article { // this is the paper!
  header, .content, .entries header {
    background-color: $background-color;
    padding-left: 10px;
    padding-right: 10px;
  }
  header {
    @include border-top-radius($radius + px);
    padding-top: $vr-unit + rem;
  }
  .content {
    @include border-bottom-radius($radius + px);
    padding-bottom: $vr-unit + rem;
  }
}
.blog {
  .entries {
    li:not(:first-of-type) header {
      @include border-top-radius(0);
    }
    li:last-of-type header {
      @include border-bottom-radius($radius + px);
    }
  }
  .content {
    padding-top: 0;
  }
}

// ENTRIES - (work archive, blog archive)
.entries {
  // background-color: $background-color;
  li {}
  h1 {}
	img {
    @extend %vr-margins; // deal with vertical-rythm
	}
}

// CONTENT - (home, about, work entry, blog entry)
.content {
  padding-top: $vr-unit + rem;
  ul, ol {
    padding-left: 25px;
  }
  ul li {
    list-style: disc; // or circle
  }
  ol li {
    list-style: decimal;
  }
  a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid $brand-color;
  }
}

// GIST
.gist {
  font-family: $fixed-font-family !important;
  font-size: $fixed-font-size !important;
  line-height: $fixed-line-height !important;
  .gist-file * {
    background: #fbfbfb !important;
  }
  .gist-meta {}
  .readme {
    padding: 0 0.5em;
  }
}

// PAGE FOOTER
body > footer {
  .h4 {
    display: block;
  }
}
