// --------------------------------------------------------------- //
// MODULES - ALL
// --------------------------------------------------------------- //

// LOGO - (main header)
.logo {
  padding: 15px 0px 20px;
  h1 {
    line-height: .9em;
    margin: 0px;
    font-weight: 700;
  }
}

// TOP NAV
.top-nav {
	@extend %clearfix;
	ul {
	  text-align: center;
	  list-style: none;
	  margin: 0px;
	}
	li {
	  display: inline-block;
	  list-style: none;
	  float: left;
	  width: 33.33%;
	}
	a { // top nav
	  display: block;
	  margin: 0px;
	}
}
.work #work, .blog #blog, .about #about { // highlight current nav section
  color: $brand-color;
  border-bottom: $line-width solid $brand-color;
}

// ICONS  //  FIX THIS MESS !!!
.icon {
  display: inline-block;
  color: $text-color;
  font-family: $icon-font-family;
  line-height: 0;
  font-style: normal;
  position: relative;
  top: -0.16em;
}
.work .entries .icon, .work header .icon {
  font-size: 3.5em;
}
.blog .entries .icon, .blog header .icon {
  font-size: 2em;
}
footer .icon {
  font-size: 2em;
}

// ENTRIES - (work archive, blog archive)
.entries {
  li {
    // margin-bottom: 30px;
  }
	img {
	  // margin-bottom: 20px;
	}
}

// CONTENT - (home, about, work entry, blog entry)
.content {
  ul, ol {
    padding-left: 25px;
  }
  ul li {
    list-style: disc; // or circle
  }
  ol li {
    list-style: decimal;
  }
  a:hover {
    // text-decoration: underline;
    padding-bottom: 1px;
    border-bottom: 1px solid $brand-color;
  }
}

// GIST
.gist {
  font-family: $fixed-font-family !important;
  font-size: $fixed-font-size !important;
  line-height: $fixed-line-height !important;
  .gist-file * {
    background: #fbfbfb !important;
  }
  .gist-meta {}
  .readme {
    padding: 0 0.5em;
  }
}
