// --------------------------------------------------------------- //
// BASE
// - build on 'normalize' with basic global styling
// --------------------------------------------------------------- //

// GENERAL
* {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  background-color: $background-color;
}
header {
  @extend %vertical-rythm-margins;
  // margin-top: 30px;
  // margin-bottom: 20px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  // margin: 0.8em 0;
  @extend %vertical-rythm-margins;
  display: inline-block;
}
article {
  margin-bottom: 25px;
}
time {
	margin: 0px;
}
img {
  @extend %vertical-rythm-margins;
  margin: 0px auto;
  width: 100%;
  height: auto;
  display: block;
}
ul, ol {
  @extend %vertical-rythm-margins;
  padding: 0px;
}
li {
  list-style: none;
}
address {
  @extend %vertical-rythm-margins;
  font-style: normal;
}
hr {
  height: $line-width;
  background-color: #ddd;
  border: 0;
}
footer {
  @extend %clearfix;
  padding-bottom: 10px;
  border-top: $line-width solid #ddd;
}
p {
  @extend %vertical-rythm-margins;
}
blockquote {
  @extend %vertical-rythm-margins;
}
