// --------------------------------------------------------------- //
// BASE
// - build on 'normalize' with basic global styling
// --------------------------------------------------------------- //

// GENERAL
* {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  background-color: $background-color;
}
header {
  margin: 0;
  time {
    color: $text-color-lighter;
  }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @extend %vr-margins;
  display: inline-block;
}
article {
  @extend %vr-margins;
}
time {
	margin-left: 0px;
  margin-right: 0px;
}
img {
  @extend %vr-margins;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  display: block;
}
ul, ol {
  @extend %vr-margins;
  padding: 0px;
}
li {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
address {
  @extend %vr-margins;
  font-style: normal;
}
hr {
  @include vr-margins($line-width);
  height: $line-width +px;
  background-color: #ddd;
  color: #ddd; // for IE
  border: 0;
}
footer {
  @extend %clearfix;
  padding-top: $doc-line-height - $line-width +px;
  padding-bottom: 10px;
  border-top: $line-width +px solid $background-color-dark;
}
p {
  @extend %vr-margins;
}
blockquote {
  @extend %vr-margins;
}
sup, sub { // prevent from disrupting vertical rythm
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
code {
  @include border-radius();
  padding: 4px 8px;
  background-color: $background-color-dark;
}
pre {
  @include border-radius();
  @extend %vr-margins;
  @extend %vr-padding;
  padding-left: $vr-unit +rem;
  padding-right: $vr-unit +rem;
  background-color: $background-color-dark;
  code {
    padding: 0;
  }
}
