// --------------------------------------------------------------- //
// COLOR
// - color variables and functions only (no styles)
// --------------------------------------------------------------- //

$brand-color:      #9886AC; // #9A97BD
$text-color:       #ccc;
$background-color: #fdfdfd;
	$base-color:     	#fdfdfd;
// $action-color:   #TBD;
// $function-color: #TBD;
// $alert-color:    #TBD;

// BRAND
$brand-color-light: lighten( $brand-color, 10% );
$brand-color-lighter: lighten( $brand-color, 20% );
$brand-color-dark: darken( $brand-color, 10% );
$brand-color-darker: darken( $brand-color, 20% );

// TEXT
$text-color-light: lighten( $text-color, 10% );
$text-color-lighter: lighten( $text-color, 20% );
$text-color-dark: darken( $text-color, 10% );
$text-color-darker: darken( $text-color, 40% );

// BACKGROUND

// BASE
$base-color-light: lighten( $base-color, 10% );
$base-color-lighter: lighten( $base-color, 20% );
$base-color-dark: darken( $base-color, 10% );
$base-color-darker: darken( $base-color, 40% );


// test out saturate / desaturate, adjust-hue, alpha, and tint / shade
// http://robots.thoughtbot.com/post/12974565313/controlling-color-with-sass-color-functions

// @mixin brand-gradient {
//   background: url( imagefallback.png ) repeat-x $brand-color-darker;
//   background: -moz-radial-gradient(center, ellipse cover, $brand-color 22%, $brand-color-darker 100%);
//   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(22%,$brand-color), color-stop(100%,$brand-color-darker));
//   background: -webkit-radial-gradient(center, ellipse cover, $brand-color 22%,$brand-color-darker 100%);
//   background: -o-radial-gradient(center, ellipse cover, $brand-color 22%,$brand-color-darker 100%);
//   background: -ms-radial-gradient(center, ellipse cover, $brand-color 22%,$brand-color-darker 100%);
//   background: radial-gradient(center, ellipse cover, $brand-color 22%,$brand-color-darker 100%);
// }
