// --------------------------------------------------------------- //
// COLOR
// - color variables and functions only (no styles)
// --------------------------------------------------------------- //

// BASE
$base-color: #F6F6F6; // bkg, border stroke, <hr>, <pre>, <code>

// CARD
$card-color: lighten( $base-color, 5% );

// BRAND - red
$brand-color: #55ACEE;

// TEXT
$text-color: darken( $base-color, 60% ); // play with this - border vs page
	$text-color-light:   lighten( $text-color, 15% );
	$text-color-lighter: lighten( $text-color, 50% ); // work icons

	$text-color-header:          $text-color;
	$text-color-secondary:       lighten( $text-color, 20% ); // top nav
	$text-color-secondary-hover: $text-color;

// LINK - red
$link-color: $brand-color;
$link-color-hover:  $brand-color;
$link-color-active: $brand-color;
