// --------------------------------------------------------------- //
// MIXINS
// - mixins for @extend, variables
// --------------------------------------------------------------- //

// @extend %clearfix;
%clearfix {
	zoom: 1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

$line-width: 4; // for rules, borders, <hr> etc

// GENERAL CSS MIXINS

// @include border-radius();
@mixin border-radius($radius: 6) {
	-webkit-border-radius:   $radius +px;
	-moz-border-radius:      $radius +px;
	border-radius:           $radius +px;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
