// --------------------------------------------------------------- //
// TYPOGRAPHY
// - take care of global typographic styles
// --------------------------------------------------------------- //

$doc-font-size: 16;
$doc-line-height: 28;
$vr-unit: $doc-line-height / $doc-font-size;

// Font weights
// $light: 100;
// $regular: 400;
// $bold: 600;

// Base Font
$base-font-family: "museo-sans", sans-serif;
$base-line-height: $doc-line-height +px;
// $base-font-weight: $regular;

// Fixed Font
$fixed-font-family: monaco, monospace;
$fixed-line-height: $base-line-height;
$fixed-font-size: 14;
// $fixed-font-weight: $regular;

// Headings
$header-font-family: "brandon-grotesque", sans-serif;

// ICONS
$icon-font-family: "entypo", "entypo-social";


// MIXINS
// @extend %vr-margins;
%vr-margins {
  margin-top: 0;
  margin-bottom: $vr-unit +rem;
}
// @extend %vr-padding;
%vr-padding {
  padding-top: $vr-unit +rem;
  padding-bottom: $vr-unit +rem;
}
// @include vr-margins(); (for where a subtractor is needed)
@mixin vr-margins($subtractor: 0) {
  margin-top: 0px;
  margin-bottom: ($doc-line-height - $subtractor) / $doc-font-size +rem;
}
// @include font-size();
@mixin font-size($size: $doc-font-size, $line-height-multiplier: 1) {
  font-size: $size / $doc-font-size +rem;
  line-height: ($line-height-multiplier * $doc-line-height) / $doc-font-size +rem;
}


// MAIN
html {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004); // font smoothing hack
  font-size: 100%;
}
body {
  @include font-size(18);
  font-family: $base-font-family;
  font-weight: 300;
  color: $text-color;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth:            antialiased;
  font-smoothing:         antialiased;
}

// HEADERS
header {
  text-align: center;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @extend %vr-margins;
  font-family: $header-font-family;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $text-color;
}
h1, .h1 {
  @include font-size(36, 2);
  font-weight: 400;
}
h2, .h2 {
  @include font-size(29, 2);
  font-weight: 500;
}
h3, .h3 {
  @include font-size(22);
  font-weight: 500;
}
h4, .h4 {
  @include font-size(20);
}
h5, .h5 {
  @include font-size(16);
}
h6, .h6 {
  @include font-size(12);
}

// LINKS
a {
  color: $brand-color;
  text-decoration: none;
}
a:hover, a:hover .icon {
  color: $brand-color-dark;
}

// GENERAL
code {
  @include font-size($fixed-font-size);
  font-family: $fixed-font-family;
}
pre { // should contain code tags
  @include font-size($fixed-font-size);
  font-family: $fixed-font-family;
  color: $text-color-light;
}

