// --------------------------------------------------------------- //
// TYPOGRAPHY
// - take care of global typographic styles
// --------------------------------------------------------------- //

// MAIN
html {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004); // font smoothing hack
  font-size: 100%;
}
body {
  @include font-size(18);
  font-family: $base-font-family;
  font-weight: 300;
  color: $text-color;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth:            antialiased;
  font-smoothing:         antialiased;
}

// HEADERS
header {}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $header-font-family;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: $text-color-header;
}
h1, .h1 {
  @include font-size(36, 1.5);
  font-weight: 400;
}
h2, .h2 {
  @include font-size(29, 2);
  font-weight: 500;
}
h3, .h3 {
  @include font-size(22);
  font-weight: 500;
}
h4, .h4 {
  @include font-size(20);
}
h5, .h5 {
  @include font-size(16);
}
h6, .h6 {
  @include font-size(12);
}

// LINKS
a {
  color: $link-color;
  text-decoration: none;
}
a:hover, a:hover .icon {
  color: $link-color-hover;
}

// GENERAL
code {
  @include font-size($fixed-font-size);
  font-family: $fixed-font-family;
}
pre { // should contain code tags
  @include font-size($fixed-font-size);
  font-family: $fixed-font-family;
  color: $text-color; // $text-color-light
}

