// --------------------------------------------------------------- //
// LAYOUTS - ALL
// --------------------------------------------------------------- //

.wrap, .content { // container wrap
	width: 95%;
	width: calc(100% - 20px);
	min-width: 300px; // 320 (iphone portrait width) - 10 per side
	max-width: $max-width + px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.wrap-wide { // for images and other wide elements
  @extend .wrap;
  width: 100%;
  max-width: 1024px; // max width full ipad landscape
}

.home {}
.work {
  .entries {}
  h1 a[class*="icon"] {
    color: $text-color-lighter;
  }
}
.blog {
  .entries, article {
    margin-bottom: 0;
    h1 {
      display: block;
      margin-bottom: 0;
    }
    time {
      color: $text-color-light;
    }
  }
}
.about {}

/* MEDIA QUERIES */
@media only screen and (min-width : 550px) {
  body > footer section {
    width: 50%;
    float: left;
    .h4 {
      display: inline-block;
    }
  }
}
@media only screen and (min-width : 680px) {
  // .content {
  //   ul, ol {
  //     padding-left: 0px;
  //   }
  // }
  // destroy paper side margins when small, add padding for text when large
}
