---
layout: default
title: Work
label: work
---
<article>
	<ul class="entries">
		{% for post in site.categories.work %}

		<li>
			<header class="wrap">
				<h1>
					<a href="{{ post.url }}">{{ post.title }}</a>
					{% if post.github %}<a href="{{ post.github }}"   data-tooltip="GitHub"  target="_blank" class="icon-github"></a>{% endif %}
					{% if post.behance %}<a href="{{ post.behance }}" data-tooltip="Behance" target="_blank" class="icon-behance"></a>{% endif %}
					{% if post.link %}<a href="{{ post.link }}"       data-tooltip="Link"    target="_blank" class="icon-link"></a>{% endif %}
				</h1>
			</header>

			<a href="{{ post.url }}">
				<img src="/assets/img/{{ post.path | downcase | replace:'.md','' }}/{{ post.gallery[0].image }}" alt="{{ post.gallery[0].alt }}" class="wrap-wide" />
			</a>
		</li>

		{% endfor %}
	</ul>
</article>
